@model Learning_Managerment_SystemMarket_ViewModels.Instructor.CourseViewModel.CreateCourseVm;
@using Learning_Managerment_SystemMarket_Services.InstructorServices.CategoryService;
@using Learning_Managerment_SystemMarket_Services.InstructorServices.LanguageService;

@inject ICategoryService categoryService
@inject ILanguageService languageService

@{
    Layout = "~/Areas/Instructor/Views/Shared/_InstructorLayout.cshtml";
    var listCategory = await categoryService.GetAllCategory();
    var listLanguage = await languageService.GetAllLanguage();
}

<div class="sa4d25">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="st_title"><i class="uil uil-analysis"></i> Create New Course</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="course_tabs_1">
                    <form asp-action="Create" method="post" onsubmit="return jQueryAjaxPost(this);">
                        <div id="add-course-tab" class="step-app">
                            <ul class="step-steps">
                                <li class=" active">
                                    <a href="#tab_step1">
                                        <span class="number"></span>
                                        <span class="step-name">General Information</span>
                                    </a>
                                </li>
                                @*<li class=" ">
                                    <a href="#tab_step2">
                                        <span class="number"></span>
                                        <span class="step-name">View</span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="#tab_step3">
                                        <span class="number"></span>
                                        <span class="step-name">Course Content</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab_step4">
                                        <span class="number"></span>
                                        <span class="step-name">Extra Information</span>
                                    </a>
                                </li>*@
                            </ul>
                            <div class="step-content">

                                <div class="step-tab-panel step-tab-info active" id="tab_step1">
                                    <div class="tab-from-content">
                                        <div class="title-icon">
                                            <h3 class="title"><i class="uil uil-info-circle"></i>General Information</h3>
                                        </div>
                                        <div class="course__form">
                                            <div class="general_info10">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 text-center">
                                                        <div class="ui search focus mt-30 lbel25">
                                                            <label>Course Title*</label>
                                                            <div class="ui flex-column icon input swdh19">
                                                                <input class="prompt srch_explore" type="text" placeholder="Insert your course title." name="title" id="Title" data-purpose="edit-course-title" />
                                                                <p class="text-danger"></p>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 text-center">
                                                        <div class="ui search focus mt-30 lbel25">
                                                            <label>Course Subtitle*</label>
                                                            <div class="ui flex-column icon input swdh19">
                                                                <input class="prompt srch_explore" type="text" placeholder="Insert your course Subtitle." name="subtitle" data-purpose="edit-course-title" id="SubTitile" value="" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 col-md-12 ">
                                                        <div class="course_des_textarea mt-30 lbel25">
                                                            <label>Course Description*</label>
                                                            <div class="course_des_bg">

                                                                <div class="textarea_dt">
                                                                    <div class="ui form swdh339">
                                                                        <div class="field">
                                                                            <textarea rows="5" name="description" id="Description" class="id_course_description" placeholder="Insert your course description"></textarea>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-12 text-center">
                                                        <div class="mt-30 lbel25">
                                                            <label>Language*</label>
                                                        </div>
                                                        @Html.DropDownListFor(q => q.LanguageId, new SelectList(@listLanguage, "Id", "LanguageName"), "Select Language", new { @class = "ui hj145 dropdown cntry152 prompt srch_explore", @id = "LanguageId", })

                                                    </div>
                                                    <div class="col-lg-4 col-md-6 text-center">
                                                        <div class="mt-30 lbel25">
                                                            <label>Course Category*</label>
                                                        </div>
                                                        @Html.DropDownListFor(q => q.CategoryId, new SelectList(@listCategory, "Id", "CategoryName"), "Select Category", new { @class = "ui hj145 dropdown cntry152 prompt srch_explore", @id = "category", })
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 text-center">
                                                        <div class="mt-30 lbel25">
                                                            <label>Course Subcategory*</label>
                                                        </div>
                                                        <select class="ui hj145 dropdown cntry152 prompt srch_explore" name="subcategory_id" id="subCategory">
                                                            <option value="">Select Subcategory</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="price_course">
                                                <div class="row">
                                                    <div class="col-lg-12 ">
                                                        <div class="price_title">
                                                            <h4><i class="uil uil-dollar-sign-alt"></i>Pricing</h4>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 col-md-3 col-sm-12 text-center">
                                                        <div class="mt-30 lbel25">
                                                            <label>Is Free*</label>
                                                        </div>
                                                        <select class="ui hj145 dropdown cntry152 prompt srch_explore is_free" name="IsFree">
                                                            <option value="0" selected>
                                                                No
                                                            </option>
                                                            <option value="1">
                                                                Yes
                                                            </option>
                                                        </select>

                                                    </div>
                                                    <div class="col-lg-5 col-md-6 col-sm-6 text-center is_free_div">
                                                        <div class="ui search focus mt-30 lbel25">
                                                            <label>Price*</label>
                                                            <div class="ui left icon input swdh19">
                                                                <input class="prompt srch_explore" type="number" placeholder="Insert your course Price." name="price" data-purpose="edit-course-title" value="">

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-5 col-md-6 col-sm-6 text-center is_free_div">
                                                        <div class="ui search focus mt-30 lbel25">
                                                            <label>Discount Price</label>
                                                            <div class="ui left icon input swdh19">
                                                                <input class="prompt srch_explore" type="number" placeholder="Discount Price if have ." name="discount_price" data-purpose="edit-course-title" value="0">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                

                            </div>
                            <div class="step-footer step-tab-pager">
                                <button data-direction="prev" class="btn btn-default steps_btn">PREVIOUS</button>
                                <button data-direction="next" class="btn btn-default steps_btn">Next</button>
                                @*<button data-direction="finish" onclick="submitForm('#formId4')" class="btn btn-default steps_btn" type="submit">Submit</button>*@
                                <button data-direction="finish" class="btn btn-default steps_btn" id="saveChanges" type="submit">Submit</button>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/instructor/public/frontend/js/jquery-steps.min.js"></script>
    <script src="~/instructor/public/frontend/js/course.js"></script>
    <link href="~/instructor/public/admin/assets/js/summernote.min.css" rel="stylesheet">
    <script src="~/instructor/public/admin/assets/js/summernote.min.js"></script>
    <script src="~/instructor/public/frontend/js/toastr.min.js"></script>

    <script>
        $(document).ready(function () {

            $('#saveChanges').click(function () {
                var model = {
                    Title: $('#Title').val(),
                    SubTitile: $('#SubTitile').val(),
                    Description: $('#Description').val(),
                    IsFree: $('#IsFree').val(),
                    CategoryId: $('#category').val(),
                    SubcategoryId: $('#subCategory').val(),
                    LanguageId: $('#LanguageId').val()
                };
                console.log(model);
                //things = JSON.stringify({ 'model': model });
                var data = $('#Title').val();
                $.ajax({
                    url: 'https://localhost:44371/Instructor/Course/CreateCourse',
                    type: 'GET',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: model,
                    success: function (data) { alert(data); },
                    failure: function (errMsg) {
                        alert(errMsg);
                    }
                });
            });

            $(function () {
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": true,
                    "positionClass": "toast-bottom-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "2000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }

            });

            //Validate bắt buộc nhập
            $('input[required]').blur(function () {
                //Kiếm tra dữ liệu nhập, nếu trống cảnh báo
                var value = $(this).val();
                if (!value) {
                    $(this).addClass('border-red');
                    $(this).attr('title', 'Trường này không được phép để trống');
                    $(this).attr('validate', false);
                }
                else {
                    $(this).removeClass('border-red');
                    $(this).attr('validate', true);
                }
            });

            $('.id_course_description').summernote({
                height: 120,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],

                    ['view', ['fullscreen', 'codeview', 'help']]
                ]
            });

            //lấy subCategory
            $('#category').change(function () {
                var id = $(this).val();

                $('#subCategory').find('option').not(':first').remove();

                $.ajax({
                    url: "GetSubCategory" + '/' + id,
                    type: 'get',
                    dataType: 'json',
                    success: function (response) {
                        var len = 0;
                        if (response != null) {
                            len = response.length;
                        }

                        if (len > 0) {
                            for (var i = 0; i < len; i++) {
                                var id = response[i].id;
                                var name = response[i].subCategoryName;
                                var option = "<option value='" +
                                    id + "'>" + name + "</option>";

                                $("#subCategory").append(option);
                            }
                        }
                    },
                    error: function (xhr, status, error) {
                        alert(xhr.responseText);
                    }
                })
            });
        });
        var currantstep = '0'
        $('#add-course-tab').steps({
            onFinish: function () { }
        });
    </script>
}
