<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Learning_Managerment_SystemMarket_Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="/frontend/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/frontend/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/plugins/table/datatable/datatables.css">
    <link rel="stylesheet" type="text/css" href="/plugins/table/datatable/custom_dt_html5.css">
    <link rel="stylesheet" type="text/css" href="/plugins/table/datatable/dt-global_style.css">
    <link href="/js/summernote.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/plugins/select2/select2.min.css">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/components.css">
    <link href='frontend/vendor/unicons-2.0.1/css/animation.css' rel='stylesheet'>

    <link href="frontend/css/vertical-responsive-menu.min.css" rel="stylesheet">

    <link href="frontend/css/style.css" rel="stylesheet">

    <link href="frontend/css/responsive.css" rel="stylesheet">

    <link href="frontend/css/night-mode.css" rel="stylesheet">

    <link href="frontend/css/instructor-dashboard.css" rel="stylesheet">

    <link href="frontend/css/instructor-responsive.css" rel="stylesheet">

    <link href="frontend/css/font-awesome.min.css" rel="stylesheet">

    <link href="frontend/vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet">

    <link href="frontend/vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet">

    <link href="frontend/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="frontend/vendor/semantic/semantic.min.css">

    <link rel="stylesheet" type="text/css" href="frontend/vendor/snackbar/snackbar.min.css">
</head>
<body>
    <header class="header clearfix">
        <button type="button" id="toggleMenu" class="toggle_menu">
            <i class="uil uil-bars"></i>
        </button>
        <button id="collapse_menu" class="collapse_menu">
            <i class="uil uil-bars collapse_menu--icon "></i>
            <span class="collapse_menu--label"></span>
        </button>
        <div class="main_logo" id="logo">
            <a href="https://coursearly.com/cursus/public"><img src="https://coursearly.com/cursus/public/frontend/images/logo.svg" alt=""></a>
            <a href="https://coursearly.com/cursus/public"><img class="logo-inverse" src="https://coursearly.com/cursus/public/frontend/images/ct_logo.svg" alt=""></a>
        </div>
        <div class="top-category">
            <div class="ui compact menu cate-dpdwn">
                <div class="ui simple dropdown item" tabindex="0">
                    <a href="#" class="option_links p-0" title="categories"><i class="uil uil-apps"></i></a>
                    <div class="menu dropdown_category5" tabindex="-1">

                        <a href="https://coursearly.com/cursus/public/categories/business/4" class="item channel_item">Business</a>
                        <a href="https://coursearly.com/cursus/public/categories/design/5" class="item channel_item">Design</a>
                        <a href="https://coursearly.com/cursus/public/categories/development/3" class="item channel_item">Development</a>
                        <a href="https://coursearly.com/cursus/public/categories/fgfgfg/15" class="item channel_item">fgfgfg</a>
                        <a href="https://coursearly.com/cursus/public/categories/finance-&amp;-accounting/8" class="item channel_item">Finance &amp; Accounting</a>
                        <a href="https://coursearly.com/cursus/public/categories/health-&amp;-fitness/12" class="item channel_item">Health &amp; Fitness</a>
                        <a href="https://coursearly.com/cursus/public/categories/human-development/14" class="item channel_item">Human Development</a>
                        <a href="https://coursearly.com/cursus/public/categories/it-&amp;-software/7" class="item channel_item">IT &amp; Software</a>
                        <a href="https://coursearly.com/cursus/public/categories/jose/16" class="item channel_item">Jose</a>
                        <a href="https://coursearly.com/cursus/public/categories/lifestyle/11" class="item channel_item">Lifestyle</a>
                        <a href="https://coursearly.com/cursus/public/categories/literature/17" class="item channel_item">Literature</a>
                        <a href="https://coursearly.com/cursus/public/categories/marketing/2" class="item channel_item">Marketing</a>
                        <a href="https://coursearly.com/cursus/public/categories/motivational/18" class="item channel_item">Motivational</a>
                        <a href="https://coursearly.com/cursus/public/categories/music/6" class="item channel_item">Music</a>
                        <a href="https://coursearly.com/cursus/public/categories/office-productivity/9" class="item channel_item">Office Productivity</a>
                        <a href="https://coursearly.com/cursus/public/categories/personal-development/10" class="item channel_item">Personal Development</a>
                        <a href="https://coursearly.com/cursus/public/categories/photography/1" class="item channel_item">Photography</a>
                        <a href="https://coursearly.com/cursus/public/categories/teaching-&amp;-academics/13" class="item channel_item">Teaching &amp; Academics</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="search120">
            <div class="ui search">
                <form action="https://coursearly.com/cursus/public/explore" method="post">
                    <input type="hidden" name="_token" value="nJlOQKC6HopjqJkfwa0wgscgW71F30K9vUOA3rSU">                <div class="ui left icon input swdh10">
                        <input class="prompt srch10" type="text" placeholder="Search for Tuts Videos, Tutors, Tests and more.." name="q">
                        <i class="uil uil-search-alt icon icon1"></i>
                    </div>
                </form>
            </div>
        </div>
        <div class="header_right">
            <ul>
                <li>
                    <a href="https://coursearly.com/cursus/public/order" class="upload_btn" title="Create New Course">Enrolled</a>
                </li>
                <li>
                    <a href="https://coursearly.com/cursus/public/cart" class="option_links" title="cart"><i class="uil uil-shopping-cart-alt"></i><span class="noti_count">0</span></a>
                </li>
                <li class="ui dropdown" tabindex="0">
                    <a href="#" class="option_links" title="Messages"><i class="uil uil-envelope-alt"></i><span class="noti_count">5</span></a>
                    <div class="menu dropdown_ms" tabindex="-1">

                        <a href="#" class="channel_my item">
                            <div class="profile_link">
                                <img src="https://coursearly.com/cursus/public/default.png" alt="">
                                <div class="pd_content">
                                    <h6>Albert Dua</h6>
                                    <p>ggggg</p>
                                    <span class="nm_time">12 hours ago</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" class="channel_my item">
                            <div class="profile_link">
                                <img src="https://coursearly.com/cursus/public/default.png" alt="">
                                <div class="pd_content">
                                    <h6>Jemmy</h6>
                                    <p>.</p>
                                    <span class="nm_time">4 days ago</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" class="channel_my item">
                            <div class="profile_link">
                                <img src="https://coursearly.com/cursus/public/default.png" alt="">
                                <div class="pd_content">
                                    <h6>instructor</h6>
                                    <p>aaaaaaaaaaaaaaa</p>
                                    <span class="nm_time">4 days ago</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" class="channel_my item">
                            <div class="profile_link">
                                <img src="https://coursearly.com/cursus/public/default.png" alt="">
                                <div class="pd_content">
                                    <h6>Jaysen Batchelor</h6>
                                    <p>kk</p>
                                    <span class="nm_time">3 weeks ago</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" class="channel_my item">
                            <div class="profile_link">
                                <img src="https://coursearly.com/cursus/public/default.png" alt="">
                                <div class="pd_content">
                                    <h6>Joginder Singh</h6>
                                    <p>Hello</p>
                                    <span class="nm_time">1 month ago</span>
                                </div>
                            </div>
                        </a>
                        <a class="vbm_btn" href="https://coursearly.com/cursus/public/messages">View All <i class="uil uil-arrow-right"></i></a>
                    </div>
                </li>

                <li class="ui dropdown" tabindex="0">
                    <a href="#" class="option_links" title="Notifications"><i class="uil uil-bell"></i><span class="noti_count">5</span></a>
                    <div class="menu dropdown_mn" tabindex="-1">
                        <a href="#" class="channel_my item">
                            <div class="profile_link">

                                <div class="pd_content">

                                    <p>Thanks For Review</p>
                                    <span class="nm_time">2 days ago</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="channel_my item">
                            <div class="profile_link">

                                <div class="pd_content">

                                    <p>New Course (Subscribe Institute )</p>
                                    <span class="nm_time">4 days ago</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="channel_my item">
                            <div class="profile_link">

                                <div class="pd_content">

                                    <p>New Course (Subscribe Institute )</p>
                                    <span class="nm_time">4 days ago</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="channel_my item">
                            <div class="profile_link">

                                <div class="pd_content">

                                    <p>Thanks For Review</p>
                                    <span class="nm_time">6 days ago</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="channel_my item">
                            <div class="profile_link">

                                <div class="pd_content">

                                    <p>Live Now (Subscribe Institute )</p>
                                    <span class="nm_time">6 days ago</span>
                                </div>
                            </div>
                        </a>


                        <a class="vbm_btn" href="https://coursearly.com/cursus/public/notifications">View All <i class="uil uil-arrow-right"></i></a>
                    </div>
                </li>
                <li class="ui dropdown" tabindex="0">
                    <a href="#" class="opts_account" title="Account">
                        <img src="https://coursearly.com/cursus/public/frontend/images/hd_dp.jpg" alt="">
                    </a>
                    <div class="menu dropdown_account" tabindex="-1">
                        <div class="channel_my">
                            <div class="profile_link">
                                <img src="https://coursearly.com/cursus/public/frontend/images/hd_dp.jpg" alt="">
                                <div class="pd_content">
                                    <div class="rhte85">
                                        <h6>student student</h6>
                                        <div class="mef78" title="Verify">
                                            <i class="uil uil-check-circle"></i>
                                        </div>
                                    </div>
                                    <span>student@student.com</span>
                                </div>
                            </div>

                        </div>
                        <div class="night_mode_switch__btn">
                            <a href="#" id="night-mode" class="btn-night-mode">
                                <i class="uil uil-moon"></i> Night mode
                                <span class="btn-night-mode-switch">
                                    <span class="uk-switch-button"></span>
                                </span>
                            </a>
                        </div>

                        <a href="https://coursearly.com/cursus/public/subscription" class="item channel_item">Subscription</a>
                        <a href="https://coursearly.com/cursus/public/profile" class="item channel_item">Setting</a>
                        <a href="https://coursearly.com/cursus/public/help" class="item channel_item">Help</a>
                        <a href="https://coursearly.com/cursus/public/feedback" class="item channel_item">Send Feedback</a>

                        <a href="https://coursearly.com/cursus/public/logout" class="item channel_item">Sign Out</a>

                    </div>
                </li>
            </ul>
        </div>
    </header>
    <nav class="vertical_nav">
        <div class="left_section menu_left" id="js-menu">
            <div class="left_section">
                <ul>
                    <li class="menu--item">
                        <a asp-action="Index" asp-controller="Student" class="menu--link active" title="Home">
                            <i class="uil uil-home-alt menu--icon"></i>
                            <span class="menu--label">Home</span>
                        </a>
                    </li>
                    <li class="menu--item">
                        <a href="https://coursearly.com/cursus/public/live" class="menu--link " title="Live Streams">
                            <i class="uil uil-kayak menu--icon"></i>
                            <span class="menu--label">Live Streams</span>
                        </a>
                    </li>
                    <li class="menu--item">
                        <a href="https://coursearly.com/cursus/public/explore" class="menu--link " title="Explore">
                            <i class="uil uil-search menu--icon"></i>
                            <span class="menu--label">Explore</span>
                        </a>
                    </li>
                    <li class="menu--item menu--item__has_sub_menu ">
                        <label class="menu--link" title="Categories">
                            <i class="uil uil-layers menu--icon"></i>
                            <span class="menu--label">Categories</span>
                        </label>
                        <ul class="sub_menu">
                            <li class="sub_menu--item">
                                <a href="https://coursearly.com/cursus/public/categories/business/4" class="sub_menu--link">Business</a>
                            </li>
                            <li class="sub_menu--item">
                                <a href="https://coursearly.com/cursus/public/categories/design/5" class="sub_menu--link">Design</a>
                            </li>
                            <li class="sub_menu--item">
                                <a href="https://coursearly.com/cursus/public/categories/development/3" class="sub_menu--link">Development</a>
                            </li>
                            <li class="sub_menu--item">
                                <a href="https://coursearly.com/cursus/public/categories/fgfgfg/15" class="sub_menu--link">fgfgfg</a>
                            </li>
                            <li class="sub_menu--item">
                                <a href="https://coursearly.com/cursus/public/categories/finance-&amp;-accounting/8" class="sub_menu--link">Finance &amp; Accounting</a>
                            </li>
                            <li class="sub_menu--item">
                                <a href="https://coursearly.com/cursus/public/categories/health-&amp;-fitness/12" class="sub_menu--link">Health &amp; Fitness</a>
                            </li>
                            <li class="sub_menu--item">
                                <a href="https://coursearly.com/cursus/public/categories/human-development/14" class="sub_menu--link">Human Development</a>
                            </li>
                            <li class="sub_menu--item">
                                <a href="https://coursearly.com/cursus/public/categories/it-&amp;-software/7" class="sub_menu--link">IT &amp; Software</a>
                            </li>
                            <li class="sub_menu--item">
                                <a href="https://coursearly.com/cursus/public/categories/jose/16" class="sub_menu--link">Jose</a>
                            </li>
                            <li class="sub_menu--item">
                                <a href="https://coursearly.com/cursus/public/categories/lifestyle/11" class="sub_menu--link">Lifestyle</a>
                            </li>
                            <li class="sub_menu--item">
                                <a href="https://coursearly.com/cursus/public/categories/literature/17" class="sub_menu--link">Literature</a>
                            </li>
                            <li class="sub_menu--item">
                                <a href="https://coursearly.com/cursus/public/categories/marketing/2" class="sub_menu--link">Marketing</a>
                            </li>
                            <li class="sub_menu--item">
                                <a href="https://coursearly.com/cursus/public/categories/motivational/18" class="sub_menu--link">Motivational</a>
                            </li>
                            <li class="sub_menu--item">
                                <a href="https://coursearly.com/cursus/public/categories/music/6" class="sub_menu--link">Music</a>
                            </li>
                            <li class="sub_menu--item">
                                <a href="https://coursearly.com/cursus/public/categories/office-productivity/9" class="sub_menu--link">Office Productivity</a>
                            </li>
                            <li class="sub_menu--item">
                                <a href="https://coursearly.com/cursus/public/categories/personal-development/10" class="sub_menu--link">Personal Development</a>
                            </li>
                            <li class="sub_menu--item">
                                <a href="https://coursearly.com/cursus/public/categories/photography/1" class="sub_menu--link">Photography</a>
                            </li>
                            <li class="sub_menu--item">
                                <a href="https://coursearly.com/cursus/public/categories/teaching-&amp;-academics/13" class="sub_menu--link">Teaching &amp; Academics</a>
                            </li>


                        </ul>
                    </li>

                    <li class="menu--item">
                        <a href="https://coursearly.com/cursus/public/saved-course" class="menu--link " title="Saved Courses">
                            <i class="uil uil-heart-alt menu--icon"></i>
                            <span class="menu--label">Saved Courses</span>
                        </a>
                    </li>

                    <li class="menu--item">
                        <a href="https://coursearly.com/cursus/public/filter" class="menu--link " title="Saved Courses">
                            <i class="uil uil-abacus menu--icon"></i>
                            <span class="menu--label">Filter</span>
                        </a>
                    </li>
                    <li class="menu--item">
                        <a href="https://coursearly.com/cursus/public/order" class="menu--link " title="Enrolled">
                            <i class="uil uil-bag menu--icon"></i>
                            <span class="menu--label">Enrolled</span>
                        </a>
                    </li>
                    <li class="menu--item">
                        <a href="https://coursearly.com/cursus/public/messages" class="menu--link " title="Messages">
                            <i class="uil uil-comments menu--icon"></i>
                            <span class="menu--label">Messages</span>
                        </a>
                    </li>
                    <li class="menu--item">
                        <a href="https://coursearly.com/cursus/public/notifications" class="menu--link " title="Notifications">
                            <i class="uil uil-bell menu--icon"></i>
                            <span class="menu--label">Notifications</span>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="left_section">
                <h6 class="left_title">SUBSCRIPTIONS</h6>
                <ul>

                    <li class="menu--item">
                        <a href="https://coursearly.com/cursus/public/instructors/jon-deo/1" class="menu--link user_img">
                            <img src="https://coursearly.com/cursus/public/default.png" alt="">
                            Jon Deo
                        </a>
                    </li>
                    <li class="menu--item">
                        <a href="https://coursearly.com/cursus/public/instructors/instructor/2" class="menu--link user_img">
                            <img src="https://coursearly.com/cursus/public/upload/image/60d32f92c4e69.jfif" alt="">
                            instructor
                        </a>
                    </li>
                    <li class="menu--item">
                        <a href="https://coursearly.com/cursus/public/instructors/raziya-blish/3" class="menu--link user_img">
                            <img src="https://coursearly.com/cursus/public/default.png" alt="">
                            Raziya Blish
                        </a>
                    </li>
                    <li class="menu--item">
                        <a href="https://coursearly.com/cursus/public/instructors/jassica-william/7" class="menu--link user_img">
                            <img src="https://coursearly.com/cursus/public/upload/image/60d6b4a486f0d.jpg" alt="">
                            Jassica William
                        </a>

                        <div class="alrt_dot"></div>
                    </li>
                    <li class="menu--item">
                        <a href="https://coursearly.com/cursus/public/instructors/joginder-singh/8" class="menu--link user_img">
                            <img src="https://coursearly.com/cursus/public/upload/image/60d6b737531a5.jpg" alt="">
                            Joginder Singh
                        </a>

                        <div class="alrt_dot"></div>
                    </li>

                    <li class="menu--item">

                        <a href="https://coursearly.com/cursus/public/subscription" class="menu--link " title="See All">
                            <i class="uil uil-eye menu--icon"></i>
                            <span class="menu--label">See All</span>
                        </a>
                    </li>
                    <li class="menu--item">
                        <a href="https://coursearly.com/cursus/public/instructors" class="menu--link " title="Browse Instructors">

                            <i class="uil uil-plus-circle menu--icon"></i>
                            <span class="menu--label">Browse Instructors</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="left_section pt-2">
                <ul>
                    <li class="menu--item">
                        <a href="https://coursearly.com/cursus/public/profile" class="menu--link" title="Setting">
                            <i class="uil uil-cog menu--icon"></i>
                            <span class="menu--label">Setting</span>
                        </a>
                    </li>
                    <li class="menu--item">
                        <a href="https://coursearly.com/cursus/public/help" class="menu--link " title="Help">
                            <i class="uil uil-question-circle menu--icon"></i>
                            <span class="menu--label">Help</span>
                        </a>
                    </li>
                    <li class="menu--item">
                        <a href="https://coursearly.com/cursus/public/report" class="menu--link " title="Report History">
                            <i class="uil uil-windsock menu--icon"></i>
                            <span class="menu--label">Report History</span>
                        </a>
                    </li>

                    <li class="menu--item ">
                        <a href="https://coursearly.com/cursus/public/feedback" class="menu--link " title="Send Feedback">
                            <i class="uil uil-comment-alt-exclamation menu--icon"></i>
                            <span class="menu--label">Send Feedback</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <div class="wrapper">
        <div class="sa4d25">
            <div class="container-fluid">
                <div class="row">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="/frontend/js/jquery.min.js"></script>
    <script src="/js/popper.min.js">
    </script>
    <script src="/frontend/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/nicescroll.min.js"></script>
    <script src="/js/moment.min.js"></script>

    <script src="/plugins/table/datatable/datatables.js"></script>
    <script src="/plugins/table/datatable/button-ext/dataTables.buttons.min.js"></script>
    <script src="/plugins/table/datatable/button-ext/jszip.min.js"></script>
    <script src="/plugins/table/datatable/button-ext/buttons.html5.min.js"></script>
    <script src="/plugins/table/datatable/button-ext/buttons.print.min.js"></script>
    <script src="/js/stisla.js"></script>
    <script src="/plugins/select2/select2.min.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/chart.js"></script>

    <script src="/js/summernote.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
