<div class="card card-statistic-2">
    <div class="card-icon shadow-primary bg-primary">
        <i class="fas fa-dollar-sign"></i>
    </div>
    <div class="card-wrap">
        <div class="card-header">
            <h4>Balance</h4>
        </div>
        <div class="card-body">
            52.38
        </div>
    </div>
</div>