<div class="card">
    <div class="card-header">
        <h4>Discussions</h4>
    </div>
    <div class="card-body">
        <ul class="list-unstyled list-unstyled-border list-unstyled-noborder">
            <li class="media">
                <img alt="image" class="mr-3 rounded-circle" width="70" src="https://coursearly.com/cursus/public/upload/image/60d6b4a486f0d.jpg">
                <div class="media-body">
                    <div class="media-right">
                    </div>
                    <div class="media-title mb-1">Jassica William</div>
                    <div class="text-time">3 weeks ago</div>
                    <div class="media-description text-muted">kjhjbjbhjghjgjghjgjhghjgjhgjgjhgjh</div>
                    <div class="media-links">
                        <a href="#">Like 0</a>
                        <div class="bullet"></div>
                        <a href="#" class="text-danger">Dis-Like 0</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>