<div class="tab-pane fade" id="nav-courses" role="tabpanel">
    <div class="crse_content">
        <h3>Course content</h3>
        <div class="_112456">
            <ul class="accordion-expand-holder">
                <li><span class="accordion-expand-all _d1452">Expand all</span></li>
                <li>
                    <span class="_fgr123"> 1 lectures</span>
                </li>
                <li><span class="_fgr123">   1 minute </span></li>
            </ul>
        </div>
        <div id="accordion" class="ui-accordion ui-widget ui-helper-reset">


            <a href="javascript:void(0)" class="accordion-header ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all">
                <div class="section-header-left">
                    <span class="section-title-wrapper">
                        <i class="uil uil-presentation-play crse_icon"></i>
                        <span class="section-title-text">Introduction To This Course</span>
                    </span>
                </div>
                <div class="section-header-right">
                    <span class="num-items-in-section">
                        1
                        lectures
                    </span>
                    <span class="section-header-length">00:01</span>
                </div>
            </a>
            <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" style="">

                <div class="lecture-container">
                    <div class="left-content">
                        <i class="uil uil-file icon_142"></i>
                        <div class="top">
                            <div class="title">What Is Digital Marketing</div>
                        </div>
                    </div>
                    <div class="details">
                        <a href="https://coursearly.com/cursus/public/upload/lectures/60d6c875cab1e.txt" target="_blank" class="preview-text">Download</a>
                        <span class="content-summary">
                            00:01
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <a class="btn1458" href="#">1 Sections</a>
    </div>
</div>
