<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=9">
    <meta name="robots" content="all">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <title>Cursus</title>
    <meta name="theme-color" content="#ed2a26">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Cursus">
    <link rel="icon" sizes="512x512" href="~/instructor/public/frontend/images/fav.png">

    <link rel="icon" type="image/png" href="~/instructor/public/frontend/images/fav.png">
    <link rel="icon" sizes="192x192" href="~/instructor/public/frontend/images/fav.png">


    <link href='~/instructor/public/frontend/vendor/unicons-2.0.1/css/unicons.css' rel='stylesheet'>
    <link href="~/instructor/public/frontend/css/vertical-responsive-menu.min.css" rel="stylesheet">
    <link href="~/instructor/public/frontend/css/style.css" rel="stylesheet">
    <link href="~/instructor/public/frontend/css/responsive.css" rel="stylesheet">
    <link href="~/instructor/public/frontend/css/night-mode.css" rel="stylesheet">
    <link href="~/instructor/public/frontend/css/instructor-dashboard.css" rel="stylesheet">
    <link href="~/instructor/public/frontend/css/instructor-responsive.css" rel="stylesheet">
    <link href="~/instructor/public/frontend/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/instructor/public/frontend/vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet">
    <link href="~/instructor/public/frontend/vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="~/instructor/public/frontend/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/instructor/public/frontend/vendor/semantic/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="~/instructor/public/frontend/vendor/snackbar/snackbar.min.css">
    <link href="~/instructor/public/frontend/css/toastr.min.css" rel="stylesheet" />

    <link href="~/instructor/public/frontend/css/instructor-dashboard.css" rel="stylesheet">
    <link href="~/instructor/public/frontend/css/instructor-responsive.css" rel="stylesheet">

    <style>
        .step-steps li {
            pointer-events: none;
        }
        input.border-red {
            border: 1px solid #f12626 !important;
        }
    </style>

    <link href="~/instructor/public/frontend/css/jquery-steps.css" rel="stylesheet">

</head>

<body>
    @Html.Partial("~/Areas/Instructor/Views/Shared/_Header.cshtml");
    @Html.Partial("~/Areas/Instructor/Views/Shared/_Nav.cshtml");
    <div class="wrapper">
        @RenderBody();
    </div>

    <script src="~/instructor/public/frontend/js/vertical-responsive-menu.min.js"></script>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

    <script src="~/instructor/public/frontend/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/instructor/public/frontend/vendor/OwlCarousel/owl.carousel.js"></script>
    <script src="~/instructor/public/frontend/vendor/semantic/semantic.min.js"></script>
    <script src="~/instructor/public/frontend/js/custom.js"></script>
    <script src="~/instructor/public/frontend/js/night-mode.js"></script>
    <script src="~/instructor/public/frontend/vendor/snackbar/snackbar.min.js"></script>
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>