<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=9">
    <link rel="canonical" href="~/instructor/public/instructor/home" />
    <meta name="robots" content="all">
    <meta property="og:url" content="~/instructor/public/instructor/home" />

    <script type="application/ld+json">
    {
      context: "https://schema.org",
      type: "WebPage",
      url: "~/instructor/public/instructor/home"
    }
    </script>

    <title>Cursus</title>
    <meta name="csrf-token" content="1I6KrpUtxSRxT4RmsC4NNBOUdmGgIOilQzXH4su3" />
    <meta name="theme-color" content="#ed2a26">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Cursus">
    <link rel="icon" sizes="512x512" href="~/instructor/public/frontend/images/fav.png">

    <link rel="icon" type="image/png" href="~/instructor/public/frontend/images/fav.png">
    <link rel="icon" sizes="192x192" href="~/instructor/public/frontend/images/fav.png">


    <link href='~/instructor/public/frontend/vendor/unicons-2.0.1/css/unicons.css' rel='stylesheet'>
    <link href="~/instructor/public/frontend/css/vertical-responsive-menu.min.css" rel="stylesheet">
    <link href="~/instructor/public/frontend/css/style.css" rel="stylesheet">
    <link href="~/instructor/public/frontend/css/responsive.css" rel="stylesheet">
    <link href="~/instructor/public/frontend/css/night-mode.css" rel="stylesheet">
    <link href="~/instructor/public/frontend/css/instructor-dashboard.css" rel="stylesheet">
    <link href="~/instructor/public/frontend/css/instructor-responsive.css" rel="stylesheet">
    <link href="~/instructor/public/frontend/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/instructor/public/frontend/vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet">
    <link href="~/instructor/public/frontend/vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="~/instructor/public/frontend/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/instructor/public/frontend/vendor/semantic/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="~/instructor/public/frontend/vendor/snackbar/snackbar.min.css">


    <link href="~/instructor/public/frontend/css/instructor-dashboard.css" rel="stylesheet">
    <link href="~/instructor/public/frontend/css/instructor-responsive.css" rel="stylesheet">

    <script src="https://kit.fontawesome.com/8980cd7cb4.js" crossorigin="anonymous"></script>

</head>

<body>
    @Html.Partial("~/Areas/Instructor/Views/Shared/_Header.cshtml");
    @Html.Partial("~/Areas/Instructor/Views/Shared/_Nav.cshtml");
    <div class="wrapper">
        @RenderBody();
    </div>

    <script src="~/instructor/public/frontend/js/vertical-responsive-menu.min.js"></script>
    <script src="~/instructor/public/frontend/js/jquery.min.js"></script>
    <script src="~/instructor/public/frontend/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/instructor/public/frontend/vendor/OwlCarousel/owl.carousel.js"></script>
    <script src="~/instructor/public/frontend/vendor/semantic/semantic.min.js"></script>
    <script src="~/instructor/public/frontend/js/custom.js"></script>
    <script src="~/instructor/public/frontend/js/night-mode.js"></script>
    <script src="~/instructor/public/frontend/vendor/snackbar/snackbar.min.js"></script>
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
</body>

</html>