<footer class="footer mt-40">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-lg-9 col-md-9">
                <div class="item_f1">
                    <a href="public/legal/copyright-policy">Copyright Policy</a>
                    <a href="public/legal/terms-conditions">Terms</a>
                    <a href="public/legal/privacy-policy">Privacy Policy</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="item_f1">

                    <div class="lng_btn mt-0">
                        <div class="ui language bottom right pointing dropdown floating" id="languages" data-content="Select Language">
                            <a href="#">
                                <i class='uil uil-globe lft'></i>Language<i class='uil uil-angle-down rgt'></i>
                            </a>
                            <div class="menu">
                                <div class="scrolling menu">
                                    <div class="item" data-percent="100" data-value="en" data-english="English" onclick="window.location.href ='public/locale/en';">
                                        <span class="description">English</span> en
                                    </div>
                                    <div class="item" data-percent="100" data-value="en" data-english="English" onclick="window.location.href ='public/locale/es';">
                                        <span class="description">Spanish</span> es
                                    </div>
                                    <div class="item" data-percent="100" data-value="en" data-english="English" onclick="window.location.href ='public/locale/ar';">
                                        <span class="description">arabic</span> ar
                                    </div>
                                    <div class="item" data-percent="100" data-value="en" data-english="English" onclick="window.location.href ='public/locale/TR';">
                                        <span class="description">Türkçe</span> TR
                                    </div>
                                    <div class="item" data-percent="100" data-value="en" data-english="English" onclick="window.location.href ='public/locale/Pt';">
                                        <span class="description">Portugues</span> Pt
                                    </div>
                                    <div class="item" data-percent="100" data-value="en" data-english="English" onclick="window.location.href ='public/locale/da';">
                                        <span class="description">da</span> da
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="footer_bottm">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="fotb_left">
                                <li>
                                    <a href="public">
                                        <div class="footer_logo">
                                            <img src="public/frontend/images/logo1.svg" alt="">
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <p>
                                        © 2021
                                        <strong>Cursus</strong>. All Rights Reserved.
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <div class="edu_social_links">
                                <a href="http://facebook.com/facebook1"><i class="fab fa-facebook-f"></i></a>
                                <a href="http://twitter.com/twitter2"><i class="fab fa-twitter"></i></a>
                                <a href="http://www.linkedin.com/linkdin5"><i class="fab fa-linkedin-in"></i></a>
                                <a href="http://www.instagram.com/Instagram3"><i class="fab fa-instagram"></i></a>
                                <a href="http://www.youtube.com/youtube4"><i class="fab fa-youtube"></i></a>
                                <a href="http://www.pinterest.com/pinterest6"><i class="fab fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
