<nav class="vertical_nav">
    <div class="left_section menu_left" id="js-menu">
        <div class="left_section">
            <ul>
                <li class="menu--item">
                    <a asp-area= "InstructorFunction" asp-controller="Dashboard" asp-action="Index" class="menu--link " title="Dashboard">
                        <i class="uil uil-apps menu--icon"></i>
                        <span class="menu--label">Dashboard</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a asp-area="InstructorFunction" asp-controller="Course" asp-action="Index" class="menu--link " title="Courses">
                        <i class='uil uil-book-alt menu--icon'></i>
                        <span class="menu--label">Courses</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a asp-area="InstructorFunction" asp-controller="Analyic" asp-action="Index" class="menu--link " title="Analyics">
                        <i class='uil uil-analysis menu--icon'></i>
                        <span class="menu--label">Analyics</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="/InstructorFunction/Course/Create" class="menu--link " title="Create Course">
                        <i class='uil uil-plus-circle menu--icon'></i>
                        <span class="menu--label">Create Course</span>
                    </a>
                </li>

                <li class="menu--item">
                    <a href="/InstructorFunction/Review/Index" class="menu--link " title="Reviews">
                        <i class='uil uil-star menu--icon'></i>
                        <span class="menu--label">Reviews</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="/InstructorFunction/Earning/Index" class="menu--link " title="Earning">
                        <i class='uil uil-dollar-sign menu--icon'></i>
                        <span class="menu--label">Earning</span>
                    </a>
                </li>
               
                <li class="menu--item">
                    <a asp-area="InstructorFunction" asp-controller="Statement" asp-action="Index" class="menu--link " title="Statements">
                        <i class='uil uil-file-alt menu--icon'></i>
                        <span class="menu--label">Statements</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a asp-area="InstructorFunction" asp-controller="Verification" asp-action="Index" class="menu--link " title="Verification">
                        <i class='uil uil-check-circle menu--icon'></i>
                        <span class="menu--label">Verification</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="left_section pt-2">
            <ul>
                <li class="menu--item">
                    <a asp-area= "InstructorFunction" asp-controller="Setting" asp-action="Index" class="menu--link " title="Setting">
                        <i class='uil uil-cog menu--icon'></i>
                        <span class="menu--label">Setting</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="~/instructor/public/instructor/help" class="menu--link " title="Help">
                        <i class='uil uil-question-circle menu--icon'></i>
                        <span class="menu--label">Help</span>
                    </a>
                </li>
                <li class="menu--item">
                    <a href="feedback.html" class="menu--link " title="Send Feedback">
                        <i class='uil uil-comment-alt-exclamation menu--icon'></i>
                        <span class="menu--label">Send Feedback</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>