@model Learning_Managerment_SystemMarket_ViewModels.Instructor.CourseViewModel.CreateCourseVm;
@using Learning_Managerment_SystemMarket_Services.InstructorServices.CategoryService;
@using Learning_Managerment_SystemMarket_Services.InstructorServices.LanguageService;

@inject IInstructorCategoryService categoryService
@inject IInstructorLanguageService languageService

@{
    Layout = "~/Areas/InstructorFunction/Views/Shared/_InstructorLayout.cshtml";
    var listCategory = await categoryService.GetAllCategory();
    var listLanguage = await languageService.GetAllLanguage();
}

<div class="sa4d25">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="st_title"><i class="uil uil-analysis"></i> Create New Course</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="course_tabs_1">
                    <div id="add-course-tab" class="step-app">
                        <ul class="step-steps">
                            <li class=" active">
                                <a href="#tab_step1">
                                    <span class="number"></span>
                                    <span class="step-name">General Information</span>
                                </a>
                            </li>
                            <li class=" ">
                                <a href="#tab_step2">
                                    <span class="number"></span>
                                    <span class="step-name">View</span>
                                </a>
                            </li>
                            <li class=" ">
                                <a href="#tab_step3">
                                    <span class="number"></span>
                                    <span class="step-name">Course Content</span>
                                </a>
                            </li>
                            <li>
                                <a href="#tab_step4">
                                    <span class="number"></span>
                                    <span class="step-name">Extra Information</span>
                                </a>
                            </li>
                        </ul>
                        <div class="step-content">
                            @*Step 1*@
                            <div class="step-tab-panel step-tab-info active" id="tab_step1">
                                <div class="tab-from-content">
                                    <div class="title-icon">
                                        <h3 class="title"><i class="uil uil-info-circle"></i>General Information</h3>
                                    </div>
                                    <div class="course__form">
                                        <div class="general_info10">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 text-center">
                                                    <div class="ui search focus mt-30 lbel25">
                                                        <label>Course Title <span class="text-danger">*</span></label>
                                                        <div class="ui flex-column icon input swdh19">
                                                            <input class="prompt srch_explore" type="text" placeholder="Insert your course title." name="title" id="Title" data-purpose="edit-course-title" required />
                                                            <label class="text-danger"></label>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 text-center">
                                                    <div class="ui search focus mt-30 lbel25">
                                                        <label>Course Subtitle <span class="text-danger">*</span></label>
                                                        <div class="ui flex-column icon input swdh19">
                                                            <input class="prompt srch_explore" type="text" placeholder="Insert your course Subtitle." name="subtitle" data-purpose="edit-course-title" id="SubTitile" value="" required />
                                                            <label class="text-danger"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 ">
                                                    <div class="course_des_textarea mt-30 lbel25">
                                                        <label>Course Description <span class="text-danger">*</span></label>
                                                        <div class="course_des_bg">

                                                            <div class="textarea_dt">
                                                                <div class="ui form swdh339">
                                                                    <div class="field">
                                                                        <textarea rows="5" name="description" id="Description" class="id_course_description" placeholder="Insert your course description" required></textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-12 text-center">
                                                    <div class="mt-30 lbel25">
                                                        <label>Language <span class="text-danger">*</span></label>
                                                    </div>
                                                    @Html.DropDownListFor(q => q.LanguageId, new SelectList(@listLanguage, "Id", "LanguageName"), "Select Language", new { @class = "ui hj145 dropdown cntry152 prompt srch_explore", @id = "LanguageId", required = "required" })

                                                </div>
                                                <div class="col-lg-4 col-md-6 text-center">
                                                    <div class="mt-30 lbel25">
                                                        <label>Course Category <span class="text-danger">*</span></label>
                                                    </div>
                                                    @Html.DropDownListFor(q => q.CategoryId, new SelectList(@listCategory, "Id", "CategoryName"), "Select Category", new { @class = "ui hj145 dropdown cntry152 prompt srch_explore", @id = "category", required = "required" })
                                                </div>
                                                <div class="col-lg-4 col-md-6 text-center">
                                                    <div class="mt-30 lbel25">
                                                        <label>Course Subcategory <span class="text-danger">*</span></label>
                                                    </div>
                                                    <select class="ui hj145 dropdown cntry152 prompt srch_explore" name="subcategory_id" id="subCategory" required>
                                                        <option value="">Select Subcategory</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="price_course">
                                            <div class="row">
                                                <div class="col-lg-12 ">
                                                    <div class="price_title">
                                                        <h4><i class="uil uil-dollar-sign-alt"></i>Pricing</h4>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2 col-md-3 col-sm-12 text-center">
                                                    <div class="mt-30 lbel25">
                                                        <label>Is Free <span class="text-danger">*</span></label>
                                                    </div>
                                                    <select class="ui hj145 dropdown cntry152 prompt srch_explore is_free" name="IsFree" id="IsFree">
                                                        <option value="0" selected>
                                                            No
                                                        </option>
                                                        <option value="1">
                                                            Yes
                                                        </option>
                                                    </select>

                                                </div>
                                                <div class="col-lg-5 col-md-6 col-sm-6 text-center is_free_div">
                                                    <div class="ui search focus mt-30 lbel25">
                                                        <label>Price*</label>
                                                        <div class="ui left icon input swdh19">
                                                            <input class="prompt srch_explore" type="number" placeholder="Insert your course Price." name="price" data-purpose="edit-course-title" value="" id="price">

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-5 col-md-6 col-sm-6 text-center is_free_div">
                                                    <div class="ui search focus mt-30 lbel25">
                                                        <label>Discount Price</label>
                                                        <div class="ui left icon input swdh19">
                                                            <input class="prompt srch_explore" type="number" placeholder="Discount Price if have ." name="discount_price" data-purpose="edit-course-title" value="0" id="discount_price">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*Step 2*@
                            <div class="step-tab-panel step-tab-gallery " id="tab_step2">
                                <div class="tab-from-content">
                                    <div class="title-icon">
                                        <h3 class="title"><i class="uil uil-image-upload"></i>View</h3>
                                    </div>
                                    <div class="course__form">
                                        <div class="view_info10">

                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="view_all_dt">
                                                        <div class="view_img_left">
                                                            <div class="view__img">
                                                                <img id="image_tag" src="~/instructor/public/frontend/images/courses/add_img.jpg" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="view_img_right">
                                                            <h4>Cover Image</h4>
                                                            <p>
                                                                Upload your course image here. It must meet our course image quality standards to be accepted. Important guidelines: 750x422 pixels; .jpg, .jpeg,. gif, or .png. no text on the image max file size 1mb.
                                                            </p>
                                                            <div class="upload__input">
                                                                <div class="input-group">
                                                                    <div class="custom-file">
                                                                        <input type="file" class="custom-file-input" id="cover_image" name="cover_image" multiple="multiple" required/>
                                                                        <label class="custom-file-label" for="inputGroupFile04">No Choose file</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*Step 3*@
                            <div class="step-tab-panel step-tab-location " id="tab_step3">
                                <div class="tab-from-content">
                                    <div class="title-icon">
                                        <h3 class="title"><i class="uil uil-film"></i>Course Content</h3>
                                    </div>
                                    <div class="course__form">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="extra_info">
                                                    <h4 class="part__title">New Course Content</h4>
                                                </div>

                                                <div class="view_info10">
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-12">
                                                            <div class="ui search focus mt-30 lbel25">
                                                                <label>Course Content Title*</label>
                                                                <div class="ui left icon input swdh19">
                                                                    <input class="prompt srch_explore" type="text" placeholder="Insert your course content title." name="title" data-purpose="edit-course-title" maxlength="60" id="ContentTitle" value="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <form action="#" method="post" enctype="multipart/form-data" id="lecturefrom" class="row">
                                                            <div class="col-lg-12 col-md-12">
                                                                <div class="lecture_title">
                                                                    <h4>Add Lecture</h4>
                                                                </div>
                                                            </div>

                                                            <div class="col-lg-4 col-md-12">
                                                                <div class="ui search focus mt-30 lbel25">
                                                                    <label>Lecture Title*</label>
                                                                    <div class="ui left icon input swdh19">
                                                                        <input class="prompt srch_explore" type="text" placeholder="Insert your lecture title." name="lectureTitle" data-purpose="edit-course-title" maxlength="60" id="lectureTitle" value="" required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 col-md-6">
                                                                <div class="part_input mt-30 lbel25">
                                                                    <label>File*</label>
                                                                    <div class="input-group">
                                                                        <div class="custom-file">
                                                                            <input type="file" class="custom-file-input" id="lectureFileInput" name="file" required onchange="onLectureFileChange()">
                                                                            <label class="custom-file-label" for="inputGroupFile06" id="fileName">No Choose file - (Pdf, Video)</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 col-md-6">
                                                                <div class="ui search focus mt-30 lbel25">
                                                                    <label>Sort</label>
                                                                    <div class="ui left icon input swdh19">
                                                                        <input class="prompt srch_explore" type="number" min="0" max="100" placeholder="0" name="position" id="lecturePosition" required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12 col-md-12">
                                                                <div class="course_des_textarea mt-30 lbel25">
                                                                    <label>Description*</label>
                                                                    <div class="course_des_bg">

                                                                        <div class="textarea_dt">
                                                                            <div class="ui form swdh339">
                                                                                <div class="field">
                                                                                    <textarea rows="5" name="lectureDescription" id="lectureDescription" class="id_course_description" placeholder="Insert your course description" required></textarea>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-5 col-md-6">
                                                                <div class="ui search focus mt-30 lbel25">
                                                                    <label>Volume*</label>
                                                                    <div class="ui left icon input swdh19 swdh95">
                                                                        <input class="prompt srch_explore" type="number" min="0" required="" placeholder="0" name="lectureVolume" id="lectureVolume">
                                                                        <div class="badge_mb">MB</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-5 col-md-6">
                                                                <div class="ui search focus mt-30 lbel25">
                                                                    <label>Duration*</label>
                                                                    <div class="ui left icon input swdh19 swdh55">
                                                                        <input class="prompt srch_explore" type="number" min="0" required="" placeholder="0" name="lectureDuration" id="lectureDuration">
                                                                        <div class="badge_min">Minutes</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2 col-md-12">
                                                                <button class="part_btn_save prt-sv" type="submit">Save Lecture</button>
                                                            </div>
                                                        </form>
                                                        <div class="col-lg-12 col-md-12">
                                                            <div class="table-responsive mt-50 mb-0">
                                                                <table class="table ucp-table">
                                                                    <thead class="thead-s">
                                                                        <tr>
                                                                            <th class="text-center" scope="col">
                                                                                Lecture
                                                                            </th>
                                                                            <th class="cell-ta">Title</th>
                                                                            <th class="text-center" scope="col">
                                                                                Volume
                                                                            </th>
                                                                            <th class="text-center" scope="col">
                                                                                Duration
                                                                            </th>
                                                                            <th class="text-center" scope="col">
                                                                                Sort
                                                                            </th>
                                                                            <th class="text-center" scope="col">
                                                                                File
                                                                            </th>
                                                                            <th class="text-center" scope="col">
                                                                                Controls
                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody id="tbodylecture">
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12 col-md-12">
                                                            <div class="save_content">
                                                                <button class="save_content_btn" onclick="FinalCourseContent()">Save Course Content</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive mt-30">
                                        <table class="table ucp-table" id="content-table">
                                            <thead class="thead-s">
                                                <tr>
                                                    <th class="text-center" scope="col">Content</th>
                                                    <th class="cell-ta">Title</th>
                                                    <th class="text-center" scope="col">lectures</th>
                                                    <th class="text-center" scope="col">Volume</th>
                                                    <th class="text-center" scope="col">Duration</th>
                                                    <th class="text-center" scope="col">Upload Date</th>
                                                    <th class="text-center" scope="col">Controls</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbodycourse">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            @*Step 4*@
                            <div class="step-tab-panel step-tab-amenities " id="tab_step4">
                                <div class="tab-from-content">
                                    <div class="title-icon">
                                        <h3 class="title">
                                            <i class="uil uil-file-copy-alt"></i>Extra Information
                                        </h3>
                                    </div>
                                    <div class="course__form">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="extra_info">
                                                    <h4 class="part__title">Extra Information</h4>
                                                </div>
                                                <div class="view_info10">


                                                    <form action="~/instructor/public/instructor/courses/0" method="post" id="formId4" enctype="multipart/form-data" class="row">
                                                        <input type="hidden" name="_token" value="1I6KrpUtxSRxT4RmsC4NNBOUdmGgIOilQzXH4su3">
                                                        <input type="hidden" name="_method" value="PUT">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                                                            <div class="mt-30 lbel25">
                                                                <label>What you want save as*</label>
                                                            </div>
                                                            <select class="ui hj145 dropdown cntry152 prompt srch_explore" name="status" id="status">
                                                                <option value="2">
                                                                    Submit For Review
                                                                </option>
                                                                <option value="0">
                                                                    Draft
                                                                </option>

                                                            </select>

                                                        </div>
                                                    </form>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="step-footer step-tab-pager">
                            <button data-direction="prev" class="btn btn-default steps_btn">PREVIOUS</button>
                            <button data-direction="next" class="btn btn-default steps_btn">Next</button>
                            <button data-direction="finish" class="btn btn-default steps_btn" id="saveChanges" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/instructor/public/frontend/js/jquery-steps.min.js"></script>
    @*<script src="~/frontend/js/course.js"></script>*@
    <link href="~/instructor/public/admin/assets/js/summernote.min.css" rel="stylesheet">
    <script src="~/instructor/public/admin/assets/js/summernote.min.js"></script>
    <script src="~/instructor/public/frontend/js/toastr.min.js"></script>
    <script>
        var extension = "";
        var file = "";
        var LectureData = [];
        var CourseContent = [];
        var IdFake = 1;

        var LectureFormData = new FormData()

        $(document).ready(function () {
            //add lecture to array
            $("#lecturefrom").on('submit', function (e) {
                e.preventDefault(e);
                var form = $(this);

                var lecture = {
                    IdFake: IdFake,
                    Title: $("#lectureTitle").val(),
                    File: file.name,
                    Description: $("#lectureDescription").val(),
                    Volume: $("#lectureVolume").val(),
                    Duration: $("#lectureDuration").val(),
                    Positon: $("#lecturePosition").val(),
                };

                //kiểm tra dữ liệu
                var inputCheck = $('input[required]');
                $.each(inputCheck, function (index, item) {
                    $(item).attr('require');
                    //Kiếm tra dữ liệu nhập, nếu trống cảnh báo
                    var value = $(this).val();
                    if (!value) {
                        $(this).addClass('border-red');
                        $(this).attr('title', 'Trường này không được phép để trống');
                    }
                    else {
                        $(this).removeClass('border-red');
                    }
                });

                LectureData.push(lecture);
                extension = "";
                file = null;

                console.log(LectureData);
                console.log(lecture);

                form[0].reset()
                $("#lectureDescription").val('');

                addLectureToHtml();
            })

            //Show image
            $('#cover_image').change(function () {
                var input = document.getElementById("cover_image");
                var fReader = new FileReader();
                fReader.readAsDataURL(input.files[0]);
                fReader.onloadend = function (event) {
                    var img = document.getElementById("image_tag");
                    img.src = event.target.result;
                }
            });

            $('#cover_image').change(function () {
                var formData = new FormData();
                var totalFiles = document.getElementById("cover_image").files.length;

                for (var i = 0; i < totalFiles; i++) {
                    var file = document.getElementById("cover_image").files[i];
                    formData.append("cover_image", file);
                };

                $.ajax({
                    type: "POST",
                    url: 'https://localhost:44371/InstructorFunction/Course/UploadImage',
                    data: formData,
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        if (!data) {
                            console.log('Faild');
                            return false;
                        }
                    },
                    failure: function (errMsg) {
                        toastr.warning(errMsg)
                        return false;
                    }
                });
            });

            //Create Course
            $('#saveChanges').click(function () {
                //kiểm tra dữ liệu
                var inputCheck = $('#tab_step1 input[required]');
                $.each(inputCheck, function (index, item) {
                    $(item).attr('require');
                    //Kiếm tra dữ liệu nhập, nếu trống cảnh báo
                    var value = $(this).val();
                    if (!value) {
                        $(this).addClass('border-red');
                        $(this).attr('title', 'Trường này không được phép để trống');
                        $(this).next('label').text('Trường này không được phép để trống');
                    }
                    else {
                        $(this).removeClass('border-red');
                        $(this).next('label').empty;
                    }
                });

                var isFree = $('#IsFree').val() == '1' ? true : false;
                var price = isFree ? 0 : $('#price').val();

                var model = {
                    Title: $('#Title').val(),
                    SubTitile: $('#SubTitile').val(),
                    Description: $('#Description').val(),
                    IsFree: isFree,
                    Status: parseInt($("#status").val()),
                    Price: price,
                    DiscountPrice: $('#discount_price').val(),
                    CategoryId: $('#category').val(),
                    SubcategoryId: $('#subCategory').val(),
                    LanguageId: $('#LanguageId').val(),
                };
                console.log(model);

                //post Course Content
                CourseContent.forEach((model, index) => {
                    $.ajax({
                        url: 'https://localhost:44371/InstructorFunction/Course/CreateCourseContent',
                        type: 'GET',
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        data: model,
                        success: function (data) { },
                        failure: function (errMsg) {
                            toastr.warning(errMsg)
                            return false;
                        }
                    });
                    console.log(model.Lecture);
                    //post Lecture
                    model.Lecture.forEach((model, index) => {
                        $.ajax({
                            url: 'https://localhost:44371/InstructorFunction/Course/CreateLecture',
                            type: 'GET',
                            dataType: "json",
                            contentType: "application/json; charset=utf-8",
                            data: model,
                            success: function (data) { },
                            failure: function (errMsg) {
                                toastr.warning(errMsg)
                                return false;
                            }
                        });
                    });

                });

                //Kiểm tra ít nhất 1 Course Content
                if (CourseContent.length > 0) {
                    //post Course
                    $.ajax({
                        url: 'https://localhost:44371/InstructorFunction/Course/CreateCourse',
                        type: 'GET',
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        data: model,
                        success: function (data) {
                            if (data.code) {
                                toastr.success("Create Course Success");
                                setTimeout(Redirect(), 5000);
                            }
                            else {
                                toastr.warning(data.message)
                            }
                        },
                        failure: function (errMsg) {
                            toastr.warning(errMsg);
                            return false;
                        }
                    });
                }
                else {
                    toastr.warning("Please add at least one Course Content");
                }
            });

            //Redirect to Course Index Action
            function Redirect() {
                window.location = "https://localhost:44371/InstructorFunction/Course/Index";
            }

            //config toastr
            $(function () {
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": true,
                    "positionClass": "toast-bottom-left",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "4000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
            });

            //Validate bắt buộc nhập SonNL4
            $('input[required]').blur(function () {
                //Kiếm tra dữ liệu nhập, nếu trống cảnh báo
                var value = $(this).val();
                if (!value) {
                    $(this).addClass('border-red');
                    $(this).attr('title', 'Trường này không được phép để trống');
                    $(this).next('label').text('Trường này không được phép để trống');
                }
                else {
                    $(this).removeClass('border-red');
                    $(this).next('label').empty();
                }
            });

            $('.id_course_description').summernote({
                height: 120,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],

                    ['view', ['fullscreen', 'codeview', 'help']]
                ]
            });

            //lấy subCategory - SonNL4
            $('#category').change(function () {
                var id = $(this).val();

                $('#subCategory').find('option').not(':first').remove();

                $.ajax({
                    url: "GetSubCategory" + '/' + id,
                    type: 'get',
                    dataType: 'json',
                    success: function (response) {
                        var len = 0;
                        if (response != null) {
                            len = response.length;
                        }

                        if (len > 0) {
                            for (var i = 0; i < len; i++) {
                                var id = response[i].id;
                                var name = response[i].subCategoryName;
                                var option = "<option value='" +
                                    id + "'>" + name + "</option>";

                                $("#subCategory").append(option);
                            }
                        }
                    },
                    error: function (xhr, status, error) {
                        alert(xhr.responseText);
                    }
                });
            });
        });

        //jquery step
        $('#add-course-tab').steps({
            onFinish: function () { }
        });

        //add Lecture To Html
        function addLectureToHtml() {
            var tr = "";
            LectureData.forEach((element, index) => {
                tr += ` <tr>
                <td class="text-center">${index + 1}</td>
                <td class="cell-ta">${element.Title}</td>
                <td class="text-center">${element.Volume}</td>
                <td class="text-center">${element.Duration}</td>
                <td class="text-center">${element.Positon}</td>
                <td class="text-center">  <a href="#">${element.File}</a>   </td>
                <td class="text-center">
                    <a href="#" title="Delete" class="gray-s" onclick="DeleteLecture(${index})"><i class="uil uil-trash-alt"></i></a>
                </td>
            </tr>`;
            });
            $("#tbodylecture").html(tr);
        }

        //validate address file
        function onLectureFileChange() {
            file = $('#lectureFileInput')[0].files[0]
            $(this).next('label').text(file);
        }

        //remove lecture in array
        function DeleteLecture(index) {
            LectureData.splice(index, 1);
            addLectureToHtml()
        }

        //Theem Course Content vào array
        function FinalCourseContent() {
            var title = $("#ContentTitle").val();

            if (!title) {
                toastr.warning("Please enter a Course Content Title")
                return false;
            }
            const tn = LectureData.length;
            if (tn < 1) {
                toastr.warning("Please add at least one lecture")
            }
            else {
                var course = {
                    IdFake: IdFake,
                    Title: title,
                    Lecture: LectureData
                };
                IdFake++;
                CourseContent.push(course);
                AddCourseToHtml();
                console.log(CourseContent);
                Refreshtbodylecture();
            }
        }

        function Refreshtbodylecture() {
            LectureData = [];
            $("#tbodylecture").empty();
            $('#lecturefrom').trigger("reset")
        }

        function AddCourseToHtml() {
            var tr = "";
            CourseContent.forEach((element, index) => {
                var volumn = 0;
                var duration = 0;
                var lecture = 0;
                var date = new Date();
                element.Lecture.forEach((x) => {
                    volumn += parseInt(x.Volume);
                    duration += parseInt(x.Duration);
                    lecture++;
                });

                tr += ` <tr>
                <td class="text-center">${index + 1}</td>
                <td class="cell-ta">${element.Title}</td>
                <td class="text-center">${lecture}</td>
                <td class="text-center">${volumn}</td>
                <td class="text-center">${duration}</td>
                <td class="text-center">  <a href="#">${date}</a>   </td>
                <td class="text-center">
                    <a href="#" title="Delete" class="gray-s" onclick="DeleteCourse(${index})"><i class="uil uil-trash-alt"></i></a>
                </td>
                </tr>`;
            });
            $("#tbodycourse").html(tr);
        }

        function DeleteCourse(index) {
            CourseContent.splice(index, 1);
            AddCourseToHtml();
        }
    </script>
}
