@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section">
    <div class="section-header">
        <h1>Students</h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active"><a asp-controller="Home" asp-action="Index" >Home</a></div>
            <div class="breadcrumb-item"><a href="#">Students</a></div>
        </div>
    </div>

    <div class="section-body">
        <div class="row mt-sm-4">
            <div class="col-12 col-md-12 col-lg-5">
                <partial name="StudentPartial.cshtml" />
                <div class="row">

                    <div class="col-12 col-sm-12 col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>Comments</h4>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled list-unstyled-border list-unstyled-noborder">
                                    <li class="media">
                                        <img alt="image" class="mr-3 rounded-circle" width="70" height="70" src="https://coursearly.com/cursus/public/upload/image/60d6bebf5d165.jpg">
                                        <div class="media-body">
                                            <div class="media-right">
                                                <div class="product-review">

                                                    <i class="fas fa-star">
                                                    </i>

                                                    <i class="fas fa-star">
                                                    </i>

                                                    <i class="fas fa-star">
                                                    </i>

                                                    <i class="far fa-star">
                                                    </i>

                                                    <i class="far fa-star">
                                                    </i>

                                                </div>
                                            </div>
                                            <div class="media-title mb-1">
                                                Complete Python Bootcamp: Go from zero to hero in Python 3
                                            </div>
                                            <div class="text-time">
                                                1 month ago
                                            </div>
                                            <div class="media-description text-muted">
                                            </div>
                                            <div class="media-links">

                                                <a href="https://coursearly.com/cursus/public/admin/review/1/delete" class="text-danger">Trash</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <img alt="image" class="mr-3 rounded-circle" width="70" height="70" src="https://coursearly.com/cursus/public/upload/image/60d6cb38a40a1.jpg">
                                        <div class="media-body">
                                            <div class="media-right">
                                                <div class="product-review">

                                                    <i class="fas fa-star">
                                                    </i>

                                                    <i class="fas fa-star">
                                                    </i>

                                                    <i class="fas fa-star">
                                                    </i>

                                                    <i class="fas fa-star">
                                                    </i>

                                                    <i class="fas fa-star">
                                                    </i>

                                                </div>
                                            </div>
                                            <div class="media-title mb-1">
                                                Angular 8 : The Complete Guide (2021 Edition)
                                            </div>
                                            <div class="text-time">
                                                1 day ago
                                            </div>
                                            <div class="media-description text-muted">
                                                good Content i learn more things from this video
                                            </div>
                                            <div class="media-links">

                                                <a href="https://coursearly.com/cursus/public/admin/review/7/delete" class="text-danger">Trash</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <img alt="image" class="mr-3 rounded-circle" width="70" height="70" src="https://coursearly.com/cursus/public/upload/image/60d6c84251931.jpg">
                                        <div class="media-body">
                                            <div class="media-right">
                                                <div class="product-review">

                                                    <i class="fas fa-star">
                                                    </i>

                                                    <i class="fas fa-star">
                                                    </i>

                                                    <i class="fas fa-star">
                                                    </i>

                                                    <i class="fas fa-star">
                                                    </i>

                                                    <i class="fas fa-star">
                                                    </i>

                                                </div>
                                            </div>
                                            <div class="media-title mb-1">
                                                The Complete Digital Marketing Course : 12 Courses In 1
                                            </div>
                                            <div class="text-time">
                                                4 months ago
                                            </div>
                                            <div class="media-description text-muted">
                                                test test test test test test test test test test test test test
                                            </div>
                                            <div class="media-links">

                                                <a href="https://coursearly.com/cursus/public/admin/review/8/delete" class="text-danger">Trash</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <img alt="image" class="mr-3 rounded-circle" width="70" height="70" src="https://coursearly.com/cursus/public/upload/image/60d6c503be16c.jpg">
                                        <div class="media-body">
                                            <div class="media-right">
                                                <div class="product-review">

                                                    <i class="fas fa-star">
                                                    </i>

                                                    <i class="fas fa-star">
                                                    </i>

                                                    <i class="far fa-star">
                                                    </i>

                                                    <i class="far fa-star">
                                                    </i>

                                                    <i class="far fa-star">
                                                    </i>

                                                </div>
                                            </div>
                                            <div class="media-title mb-1">
                                                The Complete JavaScript Course 2021 : Build Real Project
                                            </div>
                                            <div class="text-time">
                                                3 weeks ago
                                            </div>
                                            <div class="media-description text-muted">
                                                So Niceeeeeeeeeeeeee2
                                            </div>
                                            <div class="media-links">

                                                <a href="https://coursearly.com/cursus/public/admin/review/9/delete" class="text-danger">Trash</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <img alt="image" class="mr-3 rounded-circle" width="70" height="70" src="https://coursearly.com/cursus/public/upload/image/60d6cca34e000.jpg">
                                        <div class="media-body">
                                            <div class="media-right">
                                                <div class="product-review">

                                                    <i class="fas fa-star">
                                                    </i>

                                                    <i class="fas fa-star">
                                                    </i>

                                                    <i class="fas fa-star">
                                                    </i>

                                                    <i class="fas fa-star">
                                                    </i>

                                                    <i class="fas fa-star">
                                                    </i>

                                                </div>
                                            </div>
                                            <div class="media-title mb-1">
                                                WordPress For Beginner : Create A Website Step By Step
                                            </div>
                                            <div class="text-time">
                                                1 month ago
                                            </div>
                                            <div class="media-description text-muted">
                                                fgfgfgfgf fgfhgf fhgfhg fhfghg
                                            </div>
                                            <div class="media-links">

                                                <a href="https://coursearly.com/cursus/public/admin/review/10/delete" class="text-danger">Trash</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <img alt="image" class="mr-3 rounded-circle" width="70" height="70" src="https://coursearly.com/cursus/public/default.png">
                                        <div class="media-body">
                                            <div class="media-right">
                                                <div class="product-review">

                                                    <i class="fas fa-star">
                                                    </i>

                                                    <i class="fas fa-star">
                                                    </i>

                                                    <i class="fas fa-star">
                                                    </i>

                                                    <i class="fas fa-star">
                                                    </i>

                                                    <i class="fas fa-star">
                                                    </i>

                                                </div>
                                            </div>
                                            <div class="media-title mb-1">
                                                Learn how to develop mobile application
                                            </div>
                                            <div class="text-time">
                                                4 months ago
                                            </div>
                                            <div class="media-description text-muted">
                                                bueno gosteig gfgfgfgf
                                            </div>
                                            <div class="media-links">

                                                <a href="https://coursearly.com/cursus/public/admin/review/11/delete" class="text-danger">Trash</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <img alt="image" class="mr-3 rounded-circle" width="70" height="70" src="https://coursearly.com/cursus/public/upload/image/60d6c975f0e19.jpg">
                                        <div class="media-body">
                                            <div class="media-right">
                                                <div class="product-review">

                                                    <i class="fas fa-star">
                                                    </i>

                                                    <i class="fas fa-star">
                                                    </i>

                                                    <i class="fas fa-star">
                                                    </i>

                                                    <i class="fas fa-star">
                                                    </i>

                                                    <i class="fas fa-star">
                                                    </i>

                                                </div>
                                            </div>
                                            <div class="media-title mb-1">
                                                Microsoft Excel : Beginner To Expert Level
                                            </div>
                                            <div class="text-time">
                                                4 months ago
                                            </div>
                                            <div class="media-description text-muted">
                                                good and it was so easy to grab
                                            </div>
                                            <div class="media-links">

                                                <a href="https://coursearly.com/cursus/public/admin/review/12/delete" class="text-danger">Trash</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <img alt="image" class="mr-3 rounded-circle" width="70" height="70" src="https://coursearly.com/cursus/public/upload/image/60d6c6f3bce3e.jpg">
                                        <div class="media-body">
                                            <div class="media-right">
                                                <div class="product-review">

                                                    <i class="fas fa-star">
                                                    </i>

                                                    <i class="fas fa-star">
                                                    </i>

                                                    <i class="fas fa-star">
                                                    </i>

                                                    <i class="fas fa-star">
                                                    </i>

                                                    <i class="far fa-star">
                                                    </i>

                                                </div>
                                            </div>
                                            <div class="media-title mb-1">
                                                Beginning C++ Programming : From Beginner To Beyond
                                            </div>
                                            <div class="text-time">
                                                2 weeks ago
                                            </div>
                                            <div class="media-description text-muted">
                                                Terrific course - Bravo
                                            </div>
                                            <div class="media-links">

                                                <a href="https://coursearly.com/cursus/public/admin/review/13/delete" class="text-danger">Trash</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <img alt="image" class="mr-3 rounded-circle" width="70" height="70" src="https://coursearly.com/cursus/public/upload/image/60fdde5e43bc2.jpg">
                                        <div class="media-body">
                                            <div class="media-right">
                                                <div class="product-review">

                                                    <i class="fas fa-star">
                                                    </i>

                                                    <i class="fas fa-star">
                                                    </i>

                                                    <i class="fas fa-star">
                                                    </i>

                                                    <i class="fas fa-star">
                                                    </i>

                                                    <i class="fas fa-star">
                                                    </i>

                                                </div>
                                            </div>
                                            <div class="media-title mb-1">
                                                geeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
                                            </div>
                                            <div class="text-time">
                                                4 months ago
                                            </div>
                                            <div class="media-description text-muted">
                                                Nice coursefdffffffffffffffffffffffffffffffffffffff..
                                            </div>
                                            <div class="media-links">

                                                <a href="https://coursearly.com/cursus/public/admin/review/14/delete" class="text-danger">Trash</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <img alt="image" class="mr-3 rounded-circle" width="70" height="70" src="https://coursearly.com/cursus/public/upload/image/60d6cdf63914e.jpg">
                                        <div class="media-body">
                                            <div class="media-right">
                                                <div class="product-review">

                                                    <i class="fas fa-star">
                                                    </i>

                                                    <i class="fas fa-star">
                                                    </i>

                                                    <i class="fas fa-star">
                                                    </i>

                                                    <i class="far fa-star">
                                                    </i>

                                                    <i class="far fa-star">
                                                    </i>

                                                </div>
                                            </div>
                                            <div class="media-title mb-1">
                                                CSS : The Complete Guide 2021 (Include SASS &amp; GRID)
                                            </div>
                                            <div class="text-time">
                                                3 months ago
                                            </div>
                                            <div class="media-description text-muted">
                                                ddssss232edffddfwdwefwfwef
                                            </div>
                                            <div class="media-links">

                                                <a href="https://coursearly.com/cursus/public/admin/review/15/delete" class="text-danger">Trash</a>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-7">
                <div class="card">

                    <div class="card-header">
                        <h4>Course</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div id="datatable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                <div class="dt--top-section"><div class="row"><div class="col-sm-12 col-md-6 d-flex justify-content-md-start justify-content-center"><div class="dt-buttons">      <button class="dt-button buttons-copy buttons-html5 btn btn-sm" tabindex="0" aria-controls="datatable"><span>Copy</span></button> <button class="dt-button buttons-csv buttons-html5 btn btn-sm" tabindex="0" aria-controls="datatable"><span>CSV</span></button> <button class="dt-button buttons-excel buttons-html5 btn btn-sm" tabindex="0" aria-controls="datatable"><span>Excel</span></button> <button class="dt-button buttons-print btn btn-sm" tabindex="0" aria-controls="datatable"><span>Print</span></button> </div></div><div class="col-sm-12 col-md-6 d-flex justify-content-md-end justify-content-center mt-md-0 mt-3"><div id="datatable_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control" placeholder="Search..." aria-controls="datatable"></label></div></div></div></div><div class="table-responsive">
                                    <table id="datatable" class="table table-striped no-footer dataTable" role="grid" aria-describedby="datatable_info">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
                                             #
                                        : activate to sort column descending" style="width: 9.28125px;">
                                                    #
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="
                                            Title
                                        : activate to sort column ascending" style="width: 223.016px;">
                                                    Title
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="
                                            instructor Name
                                        : activate to sort column ascending" style="width: 118.109px;">
                                                    instructor Name
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="
                                            Price
                                        : activate to sort column ascending" style="width: 36.0469px;">
                                                    Price
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="
                                            Buy at
                                        : activate to sort column ascending" style="width: 45.9688px;">
                                                    Buy at
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>




















                                            <tr role="row">
                                                <td class="sorting_1">1</td>
                                                <td>
                                                    Course Overview


                                                </td>
                                                <td>Jemmy</td>
                                                <td>0</td>


                                                <td>21 Nov 2021</td>



                                            </tr>
                                            <tr role="row">
                                                <td class="sorting_1">2</td>
                                                <td>
                                                    The Complete Digital Marketing Course : 12 Courses In 1


                                                </td>
                                                <td>Zoena</td>
                                                <td>25</td>


                                                <td>07 Nov 2021</td>



                                            </tr>
                                            <tr role="row">
                                                <td class="sorting_1">3</td>
                                                <td>
                                                    The Complete JavaScript Course 2021 : Build Real Project


                                                </td>
                                                <td>Jassica William</td>
                                                <td>18</td>


                                                <td>18 Sep 2021</td>



                                            </tr>
                                            <tr role="row">
                                                <td class="sorting_1">4</td>
                                                <td>
                                                    Beginning C++ Programming : From Beginner To Beyond


                                                </td>
                                                <td>Joginder Singh</td>
                                                <td>10</td>


                                                <td>22 Aug 2021</td>



                                            </tr>
                                            <tr role="row">
                                                <td class="sorting_1">5</td>
                                                <td>
                                                    Php Developer


                                                </td>
                                                <td>Jemmy</td>
                                                <td>0</td>


                                                <td>17 Aug 2021</td>



                                            </tr>
                                            <tr role="row">
                                                <td class="sorting_1">6</td>
                                                <td>
                                                    geeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee


                                                </td>
                                                <td>Jemmy</td>
                                                <td>0</td>


                                                <td>25 Jul 2021</td>



                                            </tr>
                                            <tr role="row">
                                                <td class="sorting_1">7</td>
                                                <td>
                                                    dddddddddddddddddddddd


                                                </td>
                                                <td>Jemmy</td>
                                                <td>0</td>


                                                <td>25 Jul 2021</td>



                                            </tr>
                                        </tbody>
                                    </table>
                                </div><div class="dt--bottom-section d-sm-flex justify-content-sm-between text-center"><div class="dt--pages-count  mb-sm-0 mb-3"><div class="dataTables_info" id="datatable_info" role="status" aria-live="polite">Showing page 1 of 3</div></div><div class="dt--pagination"><div class="dataTables_paginate paging_simple_numbers" id="datatable_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="datatable_previous"><a href="#" aria-controls="datatable" data-dt-idx="0" tabindex="0" class="page-link"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg></a></li><li class="paginate_button page-item active"><a href="#" aria-controls="datatable" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="datatable" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item "><a href="#" aria-controls="datatable" data-dt-idx="3" tabindex="0" class="page-link">3</a></li><li class="paginate_button page-item next" id="datatable_next"><a href="#" aria-controls="datatable" data-dt-idx="4" tabindex="0" class="page-link"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></a></li></ul></div></div></div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="card">
                    <div class="card-header">
                        <h4>Discussions</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled list-unstyled-border list-unstyled-noborder">
                            <li class="media">
                                <img alt="image" class="mr-3 rounded-circle" width="70" src="https://coursearly.com/cursus/public/upload/image/60d6b4a486f0d.jpg">
                                <div class="media-body">
                                    <div class="media-right">
                                    </div>
                                    <div class="media-title mb-1">Jassica William</div>
                                    <div class="text-time">3 weeks ago</div>
                                    <div class="media-description text-muted">kjhjbjbhjghjgjghjgjhghjgjhgjgjhgjh</div>
                                    <div class="media-links">
                                        <a href="#">Like 0</a>
                                        <div class="bullet"></div>
                                        <a href="#" class="text-danger">Dis-Like 0</a>
                                    </div>
                                </div>
                            </li>
                            <li class="media">
                                <img alt="image" class="mr-3 rounded-circle" width="70" src="https://coursearly.com/cursus/public/upload/image/60d6b4a486f0d.jpg">
                                <div class="media-body">
                                    <div class="media-right">
                                    </div>
                                    <div class="media-title mb-1">Jassica William</div>
                                    <div class="text-time">1 month ago</div>
                                    <div class="media-description text-muted">test dfgdfdfdfgdfdfgdfgdfgdfg</div>
                                    <div class="media-links">
                                        <a href="#">Like 0</a>
                                        <div class="bullet"></div>
                                        <a href="#" class="text-danger">Dis-Like 0</a>
                                    </div>
                                </div>
                            </li>
                            <li class="media">
                                <img alt="image" class="mr-3 rounded-circle" width="70" src="https://coursearly.com/cursus/public/default.png">
                                <div class="media-body">
                                    <div class="media-right">
                                    </div>
                                    <div class="media-title mb-1">Jon Deo</div>
                                    <div class="text-time">4 months ago</div>
                                    <div class="media-description text-muted">
                                        ;

                                        ccccccccccccccccccccccccc
                                    </div>
                                    <div class="media-links">
                                        <a href="#">Like 0</a>
                                        <div class="bullet"></div>
                                        <a href="#" class="text-danger">Dis-Like 0</a>
                                    </div>
                                </div>
                            </li>
                            <li class="media">
                                <img alt="image" class="mr-3 rounded-circle" width="70" src="https://coursearly.com/cursus/public/upload/image/60d6b737531a5.jpg">
                                <div class="media-body">
                                    <div class="media-right">
                                    </div>
                                    <div class="media-title mb-1">Joginder Singh</div>
                                    <div class="text-time">4 months ago</div>
                                    <div class="media-description text-muted">تننلانالنلا اتنلاانلانال</div>
                                    <div class="media-links">
                                        <a href="#">Like 1</a>
                                        <div class="bullet"></div>
                                        <a href="#" class="text-danger">Dis-Like 0</a>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>