@using Learning_Managerment_SystemMarket_Core.Models.Entities;
@using Microsoft.AspNetCore.Identity
@using Learning_Managerment_SystemMarket_Core.Modules.Enums
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject Learning_Managerment_SystemMarket_Services.StudentServices.OrderService.IOrderService orderService;
@inject Learning_Managerment_SystemMarket_Services.StudentServices.StudentHomePageService.StudentHomePageService StudentSerVice
@model Learning_Managerment_SystemMarket_ViewModels.StudentViewModels.StudentExploreVM
@{
    ViewData["Title"] = "Filter";
    Layout = "/Views/Shared/_StudentLayout.cshtml";
    var user = await UserManager.GetUserAsync(User);
    var coursesNewest = StudentSerVice.FindAllCourse(
        expression: x => x.Status == StatusCourse.Active
        , orderBy: x => x.OrderByDescending(a => a.ModifiedDate)
          .ThenByDescending(a => a.CreatedDate)
        , includes: null);
}
    <div class="">
        <div class="row justify-content-between">
            <div class="col-lg-3 col-md-4">
                <form method="GET" id="srform">
                    <input type="hidden" name="sort" value="1" id="sort">
                    <div class="section3125 hstry142">
                        <div class="result_stitles">
                            <div class="rs6t_title">Filters</div>
                            <div class="filter_selector">
                                <div class="ui inline dropdown flt145" tabindex="0">
                                    <div class="text">Sort</div>
                                    <i class="dropdown icon"></i>
                                    <div class="menu transition hidden" tabindex="-1">
                                        <div class="item" onclick="sortChange(1)"><a asp-area="StudentFucntion" asp-controller="Filter" asp-action="FilterPage">Newest</a></div>
                                        <div class="item" onclick="sortChange(2)">Lowest Price</div>
                                        <div class="item" onclick="sortChange(3)">Highest Price</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tb_145">
                            <div class="panel-group accordion" id="accordionfilter">
                                <div class="panel panel-default m-0">
                                    <div class="panel-heading" id="headingOne">
                                        <div class="panel-title10">
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapseOne" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                Topic
                                            </a>
                                        </div>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse" aria-labelledby="headingOne" data-parent="#accordionfilter">
                                        <div class="panel-body">
                                            <div class="ui form">
                                                <div class="grouped fields">

                                                    <div class="ui form checkbox_sign">
                                                        <div class="inline field">
                                                            <div class="ui checkbox mncheck">
                                                                <input type="radio" tabindex="0" class="hidden" name="category" value="1">
                                                                <label>Photography</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default m-0">
                                    <div class="panel-heading" id="headingThree">
                                        <div class="panel-title10">
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapseThree" href="#" aria-expanded="false" aria-controls="collapseThree">
                                                Language
                                            </a>
                                        </div>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse" aria-labelledby="headingThree" data-parent="#accordionfilter">
                                        <div class="panel-body">
                                            <div class="ui form">
                                                <div class="grouped fields">
                                                    <div class="ui form checkbox_sign">
                                                        <div class="inline field">
                                                            <div class="ui checkbox mncheck">
                                                                <input type="radio" name="language" tabindex="0" class="hidden" value="1">
                                                                <label>Hindi</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default m-0">
                                    <div class="panel-heading" id="headingfour">
                                        <div class="panel-title10">
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapsefour" href="#" aria-expanded="false" aria-controls="collapsefour">
                                                Price
                                            </a>
                                        </div>
                                    </div>
                                    <div id="collapsefour" class="panel-collapse collapse" aria-labelledby="headingfour" data-parent="#accordionfilter">
                                        <div class="panel-body">
                                            <div class="ui form">
                                                <div class="grouped fields">
                                                    <div class="ui form checkbox_sign">
                                                        <div class="inline field">
                                                            <div class="ui checkbox mncheck">
                                                                <input type="radio" name="price" value="1" tabindex="0" class="hidden">
                                                                <label>Paid</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ui form checkbox_sign">
                                                        <div class="inline field">
                                                            <div class="ui checkbox mncheck">
                                                                <input type="radio" name="price" value="0" tabindex="0" class="hidden">
                                                                <label>Free</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default m-0">
                                    <div class="panel-heading" id="headingsix">
                                        <div class="panel-title10">
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapsesix" href="#" aria-expanded="false" aria-controls="collapsesix">
                                                Rating
                                            </a>
                                        </div>
                                    </div>
                                    <div id="collapsesix" class="panel-collapse collapse" aria-labelledby="headingsix" data-parent="#accordionfilter">
                                        <div class="panel-body">
                                            <div class="ui form">
                                                <div class="grouped fields">
                                                    <div class="ui form checkbox_sign">
                                                        <div class="inline field">
                                                            <div class="ui checkbox mncheck">
                                                                <input type="radio" name="rating" value="5" tabindex="0" class="hidden">
                                                                <label class="rating_filter">
                                                                    <i class="uil uil-star"></i>
                                                                    <i class="uil uil-star"></i>
                                                                    <i class="uil uil-star"></i>
                                                                    <i class="uil uil-star"></i>
                                                                    <i class="uil uil-star"></i>
                                                                    5.0 &amp; up
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="inline field">
                                                            <div class="ui checkbox mncheck">
                                                                <input type="radio" name="rating" value="4" tabindex="0" class="hidden">
                                                                <label class="rating_filter">
                                                                    <i class="uil uil-star"></i>
                                                                    <i class="uil uil-star"></i>
                                                                    <i class="uil uil-star"></i>
                                                                    <i class="uil uil-star"></i>
                                                                    4.0 &amp; up
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="inline field">
                                                            <div class="ui checkbox mncheck">
                                                                <input type="radio" name="rating" value="3" tabindex="0" class="hidden">
                                                                <label class="rating_filter">
                                                                    <i class="uil uil-star"></i>
                                                                    <i class="uil uil-star"></i>
                                                                    <i class="uil uil-star"></i>
                                                                    3.0 &amp; up
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="inline field">
                                                            <div class="ui checkbox mncheck">
                                                                <input type="radio" name="rating" value="2" tabindex="0" class="hidden">
                                                                <label class="rating_filter">
                                                                    <i class="uil uil-star"></i>
                                                                    <i class="uil uil-star"></i>
                                                                    2.0 &amp; up
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default m-0">
                                    <div class="panel-heading" id="headingseven">
                                        <div class="panel-title10">
                                            <a class="collapsed" data-toggle="collapse" data-target="#collapseseven" href="#" aria-expanded="false" aria-controls="collapseseven">
                                                Video Duration
                                            </a>
                                        </div>
                                    </div>
                                    <div id="collapseseven" class="panel-collapse collapse" aria-labelledby="headingseven" data-parent="#accordionfilter">
                                        <div class="panel-body">
                                            <div class="ui form">
                                                <div class="grouped fields">
                                                    <div class="ui form checkbox_sign">
                                                        <div class="inline field">
                                                            <div class="ui checkbox mncheck">
                                                                <input type="radio" name="duration" value="0-120" tabindex="0" class="hidden">
                                                                <label>0-2 Hours</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ui form checkbox_sign">
                                                        <div class="inline field">
                                                            <div class="ui checkbox mncheck">
                                                                <input type="radio" name="duration" value="180-360" tabindex="0" class="hidden">
                                                                <label>3-6 Hours</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ui form checkbox_sign">
                                                        <div class="inline field">
                                                            <div class="ui checkbox mncheck">
                                                                <input type="radio" name="duration" value="420-1080" tabindex="0" class="hidden">
                                                                <label>7-18 Hours</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ui form checkbox_sign">
                                                        <div class="inline field">
                                                            <div class="ui checkbox mncheck">
                                                                <input type="radio" name="duration" value="1140-9999" tabindex="0" class="hidden">
                                                                <label>19+ Hours</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-9 col-md-8">
                <div class="_14d25 mb-20">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
