@model Learning_Managerment_SystemMarket_ViewModels.AdminFunctionVm.UserViewModels.UserDetailsVm
@using Learning_Managerment_SystemMarket_Services.AdminFunction.RoleService
@inject IRoleService _service
@{
    var allRoles = await _service.FindAll();
    var roleItems = new MultiSelectList(allRoles, "Id", "Name");
}
<div class="card">
    <div class="card-header">
        <h4>Add New User</h4>
    </div>
    <form asp-action="Create" asp-controller="User">
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 mt-3">
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 mt-3">
                    <div class="form-group">
                        <label asp-for="RolesId" class="control-label"></label>
                        <br />
                        @Html.DropDownList("RolesId", roleItems, new { multiple = "multiple", @class = "chosen-select w-100" })
                        <span asp-validation-for="RolesId" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-right">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-md-4">
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

