@model Learning_Managerment_SystemMarket_ViewModels.AdminFunctionVm.RoleViewModels.RoleVM
@using Learning_Managerment_SystemMarket_Services.AdminFunction.RoleService
@using Learning_Managerment_SystemMarket_Services.AdminFunction.ClaimService
@using Learning_Managerment_SystemMarket_Web.Areas.AdminFunction.Models
@using Learning_Managerment_SystemMarket_ViewModels.AdminFunctionVm.RoleViewModels
@using System.Linq
@using AutoMapper
@inject IRoleService _service
@inject IClaimService _serviceClaim
@inject IMapper _map
@{
    var idRole = Convert.ToInt32(ViewData["IdRole"].ToString());
    var role = await _service.Find(x => x.Id == idRole);
    var roleVm = _map.Map<RoleVM>(role);
    var claims = await _serviceClaim.FindAll(x => x.RoleId == idRole);
    foreach (var item in claims)
    {
        if (item != null)
        {
            roleVm.ClaimsFake.Add(item.ClaimType);
        }
    }
}

<div class="card">
    <div class="card-header">
        <h4>Edit Role</h4>
    </div>
    <form asp-action="Edit" asp-controller="Category">
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" value="@roleVm.Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClaimsFake">Permissions</label>
                <select asp-for="ClaimsFake"
                        class="form-control select2-dd" required
                        multiple>
                    @foreach (var item in ClaimStore.AllClaims)
                    {
                        @if (@roleVm.ClaimsFake.Contains(item.Type.ToString()))
                        {
                            <option selected="selected">@item.Type</option>
                        }
                        else
                        {
                            <option>@item.Type</option>
                        }
                    }
                </select>
                <span asp-validation-for="ClaimsFake" class="text-danger"></span>
            </div>
            <div class="card-footer text-right">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>