<div class="row">
    <div class="col-xl-12 col-md-12">
        <div class="card card-default analysis_card p-0" data-scroll-height="450">
            <div class="card-header">
                <h2>Sales Each Day Of The Month</h2>
            </div>
            <div class="card-body p-5 linechart">
                <canvas id="customchart" class="chartjs" data-chat='[@ViewBag.Month]' 
                        data-lable='[ "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30", "31"]'>
                </canvas>
            </div>
        </div>
    </div>
</div>
